<header *ngIf="isLogged">
    <p-toolbar styleClass="custom-toolbar">
        <div class="p-toolbar-group-left">
            <button
                pButton
                type="button"
                icon="pi pi-bars"
                class="p-button-secondary"
                (click)="toggleSidebar()"
                title="Abrir Menú"
            >                
            </button>
            <span class="separator"></span>
            <span class="app-title">Money Guardian</span>
        </div>
        <div class="p-toolbar-group-right">
            <div class="user-avatar">
                <p-avatar
                    icon="pi pi-user"
                    shape="circle"
                    title="{{userName | titlecase}}"
                >                    
                </p-avatar>
                <span class="label-usuario">{{userName | titlecase}}</span>
            </div>
            
            <span class="separator"></span>
            <div class="separator-y"></div>

            <button
                pButton
                type="button"
                class="p-button-secondary"
                icon="pi pi-angle-down"
                iconPos="left"
                (click)="toggleDropdown()"
                title="Opciones"
                tooltipPosition="bottom"
            >
            </button>
            <div class="dropdown-menu" [class.show]="dropdownVisible">
                <button 
                    class="dropdown-item"
                    (click)="logout()"
                >
                    Cerrar sesión
                </button>
            </div>
        </div>
    </p-toolbar>
</header>

<p-sidebar [(visible)]="sidebarVisible" [baseZIndex]="10000" *ngIf="isLogged" position="left">
  <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
</p-sidebar>
